.fxos-banner {
  font-family: sans-serif;
  font-size: 12px;
  background: linear-gradient(to bottom,rgba(255,212,84,0.5),rgba(255,248,115,0.5));
  height: 3em;
  position: absolute;
  z-index: 3000;
  width: 100%;
  top: 0;
  left: 0;
  border: 1px solid black;
}

.fxos-banner p, .fxos-banner button {
  position: absolute;
}

.fxos-banner p {
  line-height: 3em;
  left: 1em;
  margin: 0;
}

.fxos-banner button {
  font-size: 18px;
  line-height: 2em;
  right: 0.33em;
  border: none;
  background: none;
  display: block;
  cursor: pointer;
}
